html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: nonde;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

#editor {
  min-height: 100vh;
}
